---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Machine Learning" description="Machine Learning and Artifical Intelligence">
  <h1>Machine Learning and Artifical Intelligence</h1>
  <p>My journey into ML & AI</p>
</Layout>
