---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="DSA" description="Data Structures & Algorithms">
  <h1>Data Structures & Algorithms</h1>
  <p>All leetcode problems and their explanations</p>
</Layout>
