---

---

<header>
  <div class="flex justify-center space-x-10 border-2 border-red-400 p-4">
    <p class="">Home</p>
    <p>Blog</p>
    <p>About...</p>
    <img width="26" src="../../public/images/light-dark-mode.svg" />
  </div>
</header>
